@{
    ViewData["Title"] = "Xác nhận lại mật khẩu";
}
<main id="mainContent" class="main-content">
<div class="page-container ptb-60">
    <div class="container">
        <section class="sign-area panel p-40">
            <h2>@ViewData["Title"]</h2>
            <p>
                Vui lòng kiểm tra email của bạn để thiết lập lại mật khẩu của bạn.
            </p>
    
        </section>
    </div>
</div>
</main>