@{
    ViewData["Title"] = "Tài khoản bị khóa";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Tài khoản này đã bị khóa, vui lòng thử lại sau.</p>
</header>
