@model RegisterSellerViewModel
@{
    ViewData["Title"] = "Đăng ký thành người bán hàng";
    ViewData["Navbar"] = "Seller";
}

<main id="mainContent" class="main-content">
    <div class="page-container ptb-60">
        <div class="container">
            <section class="sign-area panel p-40">
                <h3 class="sign-title">Mẫu yêu cầu trở thành người bán</h3>
                <div class="row">
                    <div class="col-sm-6 col-md-7 col-left">
                        <form class="p-40" asp-route-returnUrl="@ViewData["Register"]" enctype="multipart/form-data" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="NameOfBusiness" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Tên người bán hàng" asp-for="NameOfBusiness" required>
                                <span asp-validation-for="NameOfBusiness" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Email" asp-for="Email" required>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Số điện thoại" asp-for="PhoneNumber" required>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-9 no-padding">
                                <label asp-for="Street" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Tên đường" asp-for="Street" required>
                                <span asp-validation-for="Street" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-offset-1 col-sm-2 no-padding">
                                <label asp-for="ApartmentNumber" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Số nhà" asp-for="ApartmentNumber" required>
                                <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-3 no-padding">
                                <label asp-for="Postcode" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Postcode" asp-for="Postcode" required>
                                <span asp-validation-for="Postcode" class="text-danger"></span>
                            </div>
                            <div class="form-group col-sm-offset-1 col-sm-8 no-padding">
                                <label asp-for="City" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Thành phố" asp-for="City" required>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="Description">Mô tả ngắn</label>
                                <input asp-for="Description" class="form-control input-lg" placeholder="Mô tả ngắn" required>
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="btn btn-default" id="fileselection">
                                    <a class="force-whiteColor" id="fileselectionText">Chọn logo</a><input asp-for="Logo" accept=".jpg" id="fileToUpload" style="display: none;">
                                </label>
                            </div>
                            <div class="custom-checkbox mb-20">
                                <input type="checkbox" id="agree_terms" required>
                                <label class="color-mid" for="agree_terms">Tôi đồng ý với <a href="~/downloads/Handelaarsovereenkomsten_-_Lekker_Lokaal.pdf" download class="color-blue">Thỏa thuận người bán</a>.</label>
                            </div>
                            <button type="submit" class="btn btn-block btn-lg">Yêu cầu đăng ký</button>
                        </form>
                        <span class="or">Hoặc</span>
                    </div>
                    <script>
                        $("#fileToUpload").change(function () {
                            document.getElementById('fileselectionText').innerHTML = 'Bạn đã chọn một tập tin';
                        });
                    </script>
                    <div class="col-sm-6 col-md-5 col-right contact-area pl-40 pt-10">
                        <ul class="contact-list mb-40 hidden-xs">
                            <li>
                                <span class="icon lnr lnr-map-marker"></span>
                                <h5>Address</h5>
                                <a href="http://maps.google.com/?q=Ho Chi Minh" target="_blank" class="color-mid">145A Trần Văn Đang, f3, q10, Ho Chi Minh city</a>
                            </li>
                            <li>
                                <span class="icon lnr lnr-envelope"></span>
                                <h5>Email</h5>
                                <a href="mailto:3bros.shop.suport@gmail.com" class="color-mid">3bros.shop.suport@gmail.com</a>
                            </li>
                            <li>
                                <span class="icon lnr lnr-phone-handset"></span>
                                <h5>Số điện thoại</h5>
                                <a href="tel:+84491234514" class="color-mid">+84 491 23 45 14</a>
                            </li>
                            <li>
                                <span class="icon lnr lnr-database"></span>
                                <h5>Mã số thuế</h5>
                                <a class="color-mid">0833.582.168</a>
                            </li>
                        </ul>
                        <div class="text-center color-mid pl-10 pt-30 pr-40">
                            <h4 class="widget-title h-title mb-30">Lợi ích của người bán hàng: </h4>
                        </div>
                        <div class="color-mid pl-10">
                            <p class="font-13 mb-5"><i class="far fa-check-square color-blue font-22"></i> Tạo một hoặc nhiều mặt hàng</p>
                            <p class="font-13 mb-5"><i class="far fa-check-square color-blue font-22"></i> Bạn có thể chấp nhận mặt hàng quà tặng thông qua ứng dụng của chúng tôi</p>
                            <p class="font-13 mb-5"><i class="far fa-check-square color-blue font-22"></i> Tổng quan về tất cả các mặt hàng của bạn được bán</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>