@{
    ViewData["Title"] = "Đăng xuất";
}
<main id="mainContent" class="main-content">
<div class="page-container ptb-60">
    <div class="container">
        <section class="sign-area panel p-40">
            <h2>@ViewData["Title"]</h2>
            <p>
                Bạn đã đăng xuất thành công.
            </p>
        </section>
    </div>
</div>
</main>