@model IndexViewModel
@{
    ViewData["Title"] = "Thông tin cá nhân của bạn";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<div class="page-container ptb-10">
    <div class="container width-100">
        <section class="sign-area panel p-40 mr-10">
            <h4>@ViewData["Title"]</h4>
            @Html.Partial("_StatusMessage", Model.StatusMessage)
            <div class="row">
                <div>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            @if (Model.IsEmailConfirmed)
                            {
                                <div class="input-group">
                                    <input asp-for="Email" class="form-control" disabled />
                                    <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                </div>
                            }
                            else
                            {
                                <input asp-for="Email" class="form-control" readonly />
                                <button asp-action="SendVerificationEmail" class="btn btn-link">
                                    Gửi email xác nhận
                                </button>
                            }
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName"></label>
                            <input class="form-control input-lg" placeholder="Tên" asp-for="FirstName">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FamilyName"></label>
                            <input class="form-control input-lg" placeholder="Họ" asp-for="FamilyName">
                            <span asp-validation-for="FamilyName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input class="form-control input-lg" placeholder="Số điện thoại" asp-for="PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input class="form-control input-lg" placeholder="Địa chỉ" asp-for="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Sex"></label>
                            <select class="form-control input-lg search-select" asp-for="Sex" asp-items="@(ViewData["Sex"] as SelectList)"></select>
                            <span asp-validation-for="Sex" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">
                            Cập nhật dữ liệu
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>

