@model SetPasswordViewModel
@{
    ViewData["Title"] = "Thêm mật khẩu";
    ViewData.AddActivePage(ManageNavPages.ChangePassword);
}

<div class="page-container ptb-10">
    <div class="container width-100">
        <section class="sign-area panel p-40 mr-10">
            <h4>
                Thêm mật khẩu vào tài khoản
            </h4>
            @Html.Partial("_StatusMessage", Model.StatusMessage)
            <p class="text-info">
                Bạn hiện không có mật khẩu cho trang web này. Vui lòng tạo một mật khẩu để bạn có thể đăng nhập mà không cần sử dụng phương tiện truyền thông xã hội của bạn.
            </p>
            <div class="row">
                <div class="col-md-6">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-default">
                            Thêm mật khẩu
                        </button>
                    </form>
                </div>
            </div>
        </section>
    </div>
</div>
