@model Shop.Models.AdminViewModels.ManuallyNewSellerViewModel

@{
    ViewData["Title"] = "Thêm người bán hàng";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    <h1 class="text-center"></h1>

    <section class="panel">
        <header class="panel-heading">Thêm người bán hàng</header>
        <div class="panel-body">
            <form class="form-horizontal bucket-form" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-3 control-label">tên người bán hàng</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" asp-for="Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" asp-for="Email">
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Số điện thoại</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" asp-for="PhoneNumber">
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Tên đường</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" asp-for="StreetName">
                        <span asp-validation-for="StreetName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Số nhà</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" asp-for="ApartmentNumber">
                        <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Postcode</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" asp-for="Postcode">
                        <span asp-validation-for="Postcode" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Thành phố</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" asp-for="City">
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Mô tả ngắn</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" asp-for="Description">
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Logo</label>
                    <div class="col-sm-6">
                        <label class="btn btn-default" id="fileselection">
                            <a class="" id="fileselectionText">chọn logo</a><input asp-for="Image" accept=".jpg" id="fileToUpload" style="display: none;">
                        </label>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Lưu ý (tùy chọn)</label>
                    <div class="col-sm-6">
                        <input class="form-control" asp-for="Note">
                        <p class="help-block">Khi chấp nhận hoặc từ chối yêu cầu, người bán sẽ tự động nhận email với thông tin cần thiết. Nếu bạn muốn thêm một bình luận khác (ví dụ: lý do từ chối hoặc tin nhắn chào mừng cá nhân), bạn có thể nhập nó ở trên.</p>
                    </div>
                </div>
                <div class="col-md-9 col-md-offset-3">
                    <a asp-controller="Admin" asp-action="Dashboard" class="btn btn-danger mr-20">Hủy</a>
                    <button type="submit" class="btn btn-success">Thêm</button>
                </div>
            </form>
        </div>
    </section>
</section>

<script>
    $("#fileToUpload").change(function () {
        document.getElementById('fileselectionText').innerHTML = 'Bạn đã chọn một tập tin';
    });
</script>