@{
    ViewData["Title"] = "Payment";
    int index = (int) ViewData["Index"];
}

<meta http-equiv="refresh" content="5;url=@Url.Action("MakeItemsUsable", "Checkout", new { Id = index })" />
<div class="center-block text-center">
    <h1 class="mt-20">Payment</h1>
    <h3 class="mt-10">De betaling wordt uitgevoerd</h3>

    <img class="img-responsive loading-image" src="~/images/loading.gif" />
</div>