@{
    ViewBag.Title = "404";
}
<main id="mainContent" class="main-content">
    <div class="page-container ptb-60">
        <div class="container">
            <h1>@ViewBag.ErrorCode</h1>
            <h2>@ViewBag.ErrorMessage</h2>
        </div>
    </div>
</main>