@model Shop.Models.AdminViewModels.ItemsProcessViewModel

@{
    ViewData["Title"] = "Biên lai ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    <h1 class="text-center"></h1>

    <section class="panel">
        <header class="panel-heading">Cadeauitems verzoek aanvaarden</header>
        <div class="panel-body">
            <form onsubmit="PrepareFormForSubmit()" class="form-horizontal bucket-form" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Mã biên lai</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" asp-for="ItemsId" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Tên người bán</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" asp-for="NameSeller" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Tên mặt hàng</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" id="1" asp-for="Name" readonly>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="ToggleReadOnly('1')" class="clickable"><i id="1icon" class="fas fa-lock"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Mô tả</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" id="2" asp-for="Description" readonly>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="ToggleReadOnly('2')" class="clickable"><i id="2icon" class="fas fa-lock"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Giá thấp nhất</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" id="3" asp-for="Price" readonly>
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="ToggleReadOnly('3')" class="clickable"><i id="3icon" class="fas fa-lock"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="Category"></label>
                    <div class="col-sm-6">
                        <select class="form-control" asp-for="Category" id="5" asp-items="@(ViewData["category"] as SelectList)" disabled>
                            <option value="">--- Chọn thể loại ---</option>
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="ToggleDisabled('5')" class="clickable"><i id="5icon" class="fas fa-lock"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Số đường</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" id="6" asp-for="Street" readonly>
                        <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="ToggleReadOnly('6')" class="clickable"><i id="6icon" class="fas fa-lock"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Số nhà</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" id="7" asp-for="ApartmentNumber" readonly>
                        <span asp-validation-for="ApartmentNumber" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="ToggleReadOnly('7')" class="clickable"><i id="7icon" class="fas fa-lock"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Postcode</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" id="8" asp-for="Postcode" readonly>
                        <span asp-validation-for="Postcode" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="ToggleReadOnly('8')" class="clickable"><i id="8icon" class="fas fa-lock"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Thành phố</label>
                    <div class="col-sm-6">
                        <input class="form-control" required="required" id="9" asp-for="City" readonly>
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="ToggleReadOnly('9')" class="clickable"><i id="9icon" class="fas fa-lock"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label" asp-for="Offer"></label>
                    <div class="col-sm-6">
                        <select class="form-control" asp-for="Offer" id="10" asp-items="@(ViewData["offer"] as SelectList)" disabled>
                            <option value="">--- Chọn loại ---</option>
                        </select>
                        <span asp-validation-for="Offer" class="text-danger"></span>
                    </div>
                    <div class="col-sm-1">
                        <a onclick="ToggleDisabled('10')" class="clickable"><i id="10icon" class="fas fa-lock"></i></a>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Hình thu nhỏ</label>
                    <div class="col-sm-6">
                        <img src="@Model.GetThumbPath" alt="Logo" class="img-thumbnail max-height-350px">
                        <label class="btn btn-default" id="fileselection">
                            <a id="fileselectionText">Chọn một hình ảnh</a><input asp-for="Thumbnail" accept=".jpg" id="fileToUpload" style="display: none;">
                        </label>
                        <span asp-validation-for="Thumbnail" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Hình ảnh</label>
                    <div class="col-sm-6">
                        <a href="@Url.Action("Detail", "Home", new { Id = Model.ItemsId})" target="_blank">Xem hình ảnh hiện tại tại đây</a>
                        <label class="btn btn-default" id="fileselection2">
                            <a id="fileselectionTekst2">Chọn hinh ảnh mới</a><input asp-for="Image" accept=".jpg" id="fileToUpload2" style="display: none;">
                        </label>
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Lưu ý (tùy chọn)</label>
                    <div class="col-sm-6">
                        <input asp-for="Note" type="text" class="form-control" placeholder="Để trống trường này nếu bạn không muốn gửi bình luận">
                        <p class="help-block">Khi chấp nhận hoặc từ chối yêu cầu, người bán sẽ tự động nhận email với thông tin cần thiết. Nếu bạn muốn thêm một bình luận khác (ví dụ: lý do từ chối hoặc tin nhắn cá nhân), bạn có thể nhập nó ở trên.</p>
                    </div>
                </div>



                <div class="col-md-9 col-md-offset-3">
                    <a asp-controller="Admin" asp-action="ItemsRequests" class="btn btn-warning mr-20">Hủy bỏ</a>
                    <button type="submit" formaction="DeleteItems" class="btn btn-danger mr-20">Từ chối</button>
                    <button type="submit" formaction="AcceptItemsRequest" class="btn btn-success">Chấp nhận</button>
                </div>
            </form>
        </div>
    </section>
</section>

<script>
    $("#fileToUpload").change(function () {
        document.getElementById('fileselectionText').innerHTML = 'Bạn đã chọn một tập tin';
    });
</script>

<script>
    $("#fileToUpload2").change(function () {
        document.getElementById('fileselectionTekst2').innerHTML = 'Bạn đã chọn một tập tin';
    });
</script>