@model Shop.Models.AdminViewModels.SoldItemsViewModel

@{
    ViewData["Title"] = "SellerRequestEvaluation";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="wrapper">
    <h1 class="text-center"></h1>
    <section class="panel">
        <header class="panel-heading">Gegevens van verkochte cadeauitems: @Model.Id</header>
        <div class="panel-body">
            <form method="post" enctype="multipart/form-data" class="form-horizontal bucket-form">
                <div class="form-group">
                    <label asp-for="Id" class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <input type="text" asp-for="Id" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <input type="text" asp-for="Name" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ItemsName" class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <input type="text" asp-for="ItemsName" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="CreationDate" class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <input type="text" asp-for="CreationDate" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <span class="label @Model.StatusClass">@Model.Status</span>
                    </div>
                </div>
                @if (Model.Status == "Gebruikt")
                {
                    <div class="form-group">
                        <label asp-for="UseDate" class="col-sm-3 control-label"></label>
                        <div class="col-sm-6">
                            <input type="text" asp-for="UseDate" class="form-control" readonly>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label asp-for="StationName" class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <input type="text" asp-for="StationName" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="EmailSender" class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <input type="text" asp-for="EmailSender" class="form-control" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="NameReciever" class="col-sm-3 control-label"></label>
                    <div class="col-sm-6">
                        <input type="text" asp-for="NameReciever" class="form-control" readonly>
                    </div>
                </div>
                @if (Model.EmailOntvanger != "" && Model.EmailOntvanger != null)
                {
                    <div class="form-group">
                        <label asp-for="EmailReciever" class="col-sm-3 control-label"></label>
                        <div class="col-sm-6">
                            <input type="text" asp-for="EmailReciever" class="form-control" readonly>
                        </div>
                    </div>
                }
                <div class="form-group">
                    <label class="col-sm-3 control-label">Items in PDF formaat</label>
                    <div class="col-sm-6">
                        <a class="btn btn-primary" target="_blank" href="@ViewData["path"]" role="button">Download PDF</a>
                    </div>
                </div>
                <div class="col-md-9 col-md-offset-3">
                    <a asp-controller="Admin" asp-action="SoldItems" class="btn btn-success mr-20">Keer terug</a>
                </div>
            </form>
        </div>
    </section>
</section>
