@{
    ViewData["Title"] = "Địa chỉ email đã được xác nhận";
    ViewData["Navbar"] = "Account";
}

<meta http-equiv="refresh" content="5;url=@Url.Action("Index", "Home")" />
<div class="col-xs-12 text-center mtb-60">
    <h2 class="mb-15">@ViewData["Title"]</h2>
    <p>Cảm ơn bạn đã xác nhận địa chỉ email của bạn! Tài khoản của bạn đã được tạo đầy đủ.</p>
    <p>Bạn sẽ được gửi trở lại trang chủ của trang web trong vòng vài giây.</p>
    <p>Nếu không tự động chuyển hướng? <a asp-controller="Home" asp-action="Index">Hãy bấm vào đây để quay trở lại trang chủ.</a></p>
    <a asp-controller="Home" asp-action="Index"><img src="~/images/icons/home/home.png"></a>
</div>
