@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model RegisterViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Đăng ký";
    ViewData["Navbar"] = "Account";
}

<main id="mainContent" class="main-content">
    <div class="page-container ptb-60">
        <div class="container">
            <section class="sign-area panel p-40">
                <h3 class="sign-title">Tạo một tài khoản <small>hoặc <a asp-controller="Account" asp-action="Login" class="color-blue">đăng nhập</a></small></h3>
                <div class="row row-rl-0">
                    <div class="col-sm-6 col-md-7 col-left">
                        <form class="p-40" asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="FirstName" class="sr-only"></label>
                                <input class="form-control input-lg" placeholder="Họ" asp-for="FirstName">
                                <span asp-validation-for="FirstName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="FamilyName"></label>
                                <input class="form-control input-lg" placeholder="Tên" asp-for="FamilyName">
                                <span asp-validation-for="FamilyName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="Email"></label>
                                <input class="form-control input-lg" placeholder="Email" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="Sex"></label>
                                <select class="form-control input-lg search-select" asp-for="Sex" asp-items="@(ViewData["Sex"] as SelectList)">
                                    <option value="">--- Chọn giới tính ---</option>
                                </select>
                                <span asp-validation-for="Sex" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="Password"></label>
                                <input class="form-control input-lg" placeholder="Mật khẩu" asp-for="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label class="sr-only" asp-for="ConfirmPassword"></label>
                                <input class="form-control input-lg" placeholder="Xác nhận lại mật khẩu" asp-for="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="custom-checkbox mb-20">
                                <input type="checkbox" id="agree_terms" required>
                                <label class="color-mid" for="agree_terms">Tôi đồng ý với <a href="~/downloads/Gebruikersovereenkomsten_-_Lekker_Lokaal.pdf" download class="color-blue">Thỏa thuận người dùng</a>.</label>
                            </div>
                            <button type="submit" class="btn btn-block btn-lg">Tạo một tài khoản</button>
                        </form>
                        <span class="or">Of</span>
                    </div>
                    <div class="col-sm-6 col-md-5 col-right">
                        <div class="social-login p-40">
                            <form asp-controller="Account" asp-action="Login" method="get">
                                <div class="mb-20">
                                    <button type="submit" class="btn btn-lg btn-block btn-social btn-facebook"><i class="fab fa-facebook-square font-18"></i> Đăng nhập bằng Facebook</button>
                                </div>
                                <div class="mb-20">
                                    <button class="btn btn-lg btn-block btn-social btn-twitter"><i class="fab fa-twitter font-18"></i> Đăng nhập bằng Twitter</button>
                                </div>
                                <div class="mb-20">
                                    <button class="btn btn-lg btn-block btn-social btn-google-plus"><i class="fab fa-google-plus font-18"></i> Đăng nhập bằng Google+</button>
                                </div>
                            </form>
                            <div class="text-center color-mid hidden-xs">
                                <p>Bạn đã có tài khoản? <a asp-controller="Account" asp-action="Login" class="color-blue">Đăng ký</a></p>
                            </div>
                        </div>
                        <div class="text-center color-mid pl-40 pr-40 hidden-xs">
                            <h4 class="widget-title h-title mb-30">Một số điểm của tài khoản: </h4>
                        </div>
                        <div class="color-mid pl-40 hidden-xs">
                            <p class="font-15 mb-5"><i class="far fa-check-square color-blue font-22"></i>  Tổng quan về tất cả các đơn đặt hàng của bạn</p>
                            <p class="font-15 mb-5"><i class="far fa-check-square color-blue font-22"></i> Thông tin của bạn sẽ được nhập tự động</p>
                            <p class="font-15 mb-5"><i class="far fa-check-square color-blue font-22"></i> 43/5000
                                Nhận e-mail với ưu đãi độc quyền</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>
